
<div *ngIf="IsAuthendicated()" >
    <!-- <button class="btn btn-primary" (click)="getorderbyuserid_api(1003)">Get Orders</button> -->
    <!-- <div class="card" *ngFor="let item of userorder">
    <span>Orderid</span><span>{{item.orderid}}</span>
    <span>Userid</span>{{item.userid}}
    <span>Productid</span>{{item.productid}}
    <span>Productimage</span><img src="{{item.productImage}}" height="100px" width="100px">
    <span>pname</span>{{item.productname}}
    <span>pdesc</span>{{item.productDesc}}
    <span>price</span>{{item.price}} -->
    <div style="width: 90%; margin-left: 4.5%;">
    <table class="table">
        <thead>
            <tr style="background-color: #156760">
                <!-- <th>
                    Order Id
                </th>
                <th>
                    User ID
                </th>
                <th>
                    Product ID
                </th> -->
                <th>
                    Product
                </th>
                <th>
                    Product Name
                </th>
                <th>
                    Description
                </th>
                <th>
                    Price
                </th>
                <th>
                    Date of Purchase
                </th>
    
            </tr>
        </thead>
        <tbody>
            
            <tr *ngFor="let item of userorder" style="background-image: linear-gradient(to right,white,white,#A2ECE6);width:100%">
                <!-- <td style="color: #156760">
                    {{item.orderid}}
                </td>
                <td style="color: #156760">
                    {{item.userid}}
                </td>
                <td style="color: #156760">
                    {{item.productid}}
                </td> -->
                <td style="color: #156760">
                    <img src="{{item.productImage}}" alt="no data" height="100" width="100" />
                <td style="color: #156760">
                    {{item.productname}}
                </td>
                <td style="color: #156760">
                    {{item.productDesc}}
                </td>
                <td style="color: #156760">
                    
                    {{item.price|currency:'INR'}}
                </td>
                <td style="color: #156760">
                    {{item.dateofPurchase|slice:0:10}}
                </td>
            
        </tbody>
    </table>
</div>
<div>
    <button class="btn btn-primary slide-hover-left-1" (click)="navigate_back()" style="background-color: #1D8D84; border: none; padding: 7px 30px; color: white;margin-left: 20px;">Back to products</button>
</div>
</div>
