/* 
#itemdiv {
    position: relative;
    margin-bottom: 25px;
   border:solid 1px black;
}

#div1 {
    text-align: center;
} */
ul{
    list-style: none;
}
#itemdiv {
    position: relative;
    margin-bottom: 25px;
   border:solid 1px black;
}

#div1 {
    text-align: center;
}
#divprofile {
    border: solid;
}
input:hover[type="submit"] {
    border-radius: 20%;
    border: none;
    border-color: bisque;
    background-color: antiquewhite;
}

input.slide-hover-left-1 {
    background-image: linear-gradient(0, #156760, #156760);
    background-size: 0;
    transition: .8s;
    background-repeat: no-repeat;
}

    input.slide-hover-left-1:hover {
        background-size: 100%;
        color: #fff;
    }

button:hover[type="submit"] {
    border-radius: 20%;
    border: none;
    border-color: bisque;
    background-color: antiquewhite;
}

button.slide-hover-left-1 {
    background-image: linear-gradient(0, #156760, #156760);
    background-size: 0;
    transition: .8s;
    background-repeat: no-repeat;
}

    button.slide-hover-left-1:hover {
        background-size: 100%;
        color: #fff;
    }
 
h6 {
    color: #156760;
}