ul{
    list-style: none;
    
}
html {
   height:100%;
 }
         nav.shift ul li a {
             position: relative;
             z-index: 1;
         }
 
             nav.shift ul li a:hover {
                 color: #24B3A8;
             }
 
             nav.shift ul li a:after {
                 display: block;
                 position: absolute;
                 top: 0;
                 left: 0;
                 bottom: 0;
                 right: 0;
                 margin: auto;
                 width: 100%;
                 height: 1px;
                 content: '.';
                 color: transparent;
                 background: #24B3A8;
                 visibility: none;
                 opacity: 0;
                 z-index: -1;
             }
 
             nav.shift ul li a:hover:after {
                 opacity: 1;
                 visibility: visible;
                 height: 100%;
             }
 body {
   margin:0;
 }
 
         .bg {
             animation: slide 3s ease-in-out infinite alternate;
             background-image: linear-gradient(-60deg, #B6E5D8 50%, #1D8D84 50%);
             bottom: 0;
             left: -50%;
             opacity: .5;
             position: fixed;
             right: -50%;
             top: 0;
             z-index: -1;
         }
 
 .bg2 {
   animation-direction:alternate-reverse;
   animation-duration:4s;
 }
 
 .bg3 {
   animation-duration:5s;
 }
 
 .content {
   background-color:rgba(255,255,255,.8);
   border-radius:.25em;
   box-shadow:0 0 .25em rgba(0,0,0,.25);
   box-sizing:border-box;
   left:50%;
   padding:10vmin;
   position:fixed;
   text-align:center;
   top:50%;
   transform:translate(-50%, -50%);
 }
 
 /*h1 {
   font-family:monospace;
 }*/
 
 @keyframes slide {
   0% {
     transform:translateX(-25%);
   }
   100% {
     transform:translateX(25%);
   }
 }
