
    .video{
        height:270px;
        width:490px;
        margin-right:400px;
        margin-top:35px;
        border:none;
        margin-bottom:80px;
        position:relative;
        float:right
    }
    
    #foot{
    position:relative;
        float:right;
        
     
    }